*{
    margin: 0;
    padding: 0;

    
   
}
body{
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
#logo{
    width: 150px;
    height: 50px;
}
#logo img{
    width: 100%;
    height: 100%;
}
#locations{
display: flex;
gap: 5px;
}
#location {
    display: flex;
    font-size:20px;
    color: #757575;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    width: 320px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
#loc-ic{
    display: flex;
    gap: 8px;
    align-items: center;
}
#search-bar{
    display: flex;
    font-size:20px;
    color: #757575;
    border: 1px solid  #E3E3E3;
    border-radius: 8px;
    width: 320px;
    height: 50px;
    padding: 0px 10px;
    align-items: center;
    gap: 10px;
}
.fa-user{
    font-size: 26px;
}
#banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid #E3E3E3;
    padding: 20px;
    border-radius: 8px;
}
#banner-item > h1{
    font-size: 32px;
    
}
#services > h4{
    font-size: 24px;
    margin: 20px 0;
}
#service > p{
font-size: 16px;
margin: 10px auto;
text-align: center;

}

#item{
    background-color:#F7F7F7 ;
    width: 150px;
    border-radius: 8px;
}
#item >img{
    padding: 10px;
}
#fa-3 , #las-3{
    display: flex;
    gap: 5px;
}
.ser-ret > .p1 {
    font-size: 28px;
    font-weight: 900;
}
.ser-ret > .p2 {
    font-size: 21px;
    font-weight: 500;
}
#ser-ret{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.ret-img > img{
    width: 70px;
}
#reviw{
    display: flex;
    justify-content: space-between;
}
#bann{
   width: 50%;
}
#bann >img{
   width: 100%;
   height: 100%;
}
/* banner section End */