*{
    margin: 0;
    padding: 0;

    
   
}
body{
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
#logo{
    width: 150px;
    height: 50px;
}
#logo img{
    width: 100%;
    height: 100%;
}
#locations{
display: flex;
gap: 5px;
}
#location {
    display: flex;
    font-size:20px;
    color: #757575;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    width: 320px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
#loc-ic{
    display: flex;
    gap: 8px;
    align-items: center;
}
#search-bar{
    display: flex;
    font-size:20px;
    color: #757575;
    border: 1px solid  #E3E3E3;
    border-radius: 8px;
    width: 320px;
    height: 50px;
    padding: 0px 10px;
    align-items: center;
    gap: 10px;
}
.fa-user{
    font-size: 26px;
}
#banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid #E3E3E3;
    padding: 20px;
    border-radius: 8px;
}
#banner-item > h1{
    font-size: 32px;
    
}
#services > h4{
    font-size: 24px;
    margin: 20px 0;
}
#service > p{
font-size: 16px;
margin: 10px auto;
text-align: center;

}

#item{
    background-color:#F7F7F7 ;
    width: 150px;
    border-radius: 8px;
}
#item >img{
    padding: 10px;
}
#fa-3 , #las-3{
    display: flex;
    gap: 5px;
}
.ser-ret > .p1 {
    font-size: 28px;
    font-weight: 900;
}
.ser-ret > .p2 {
    font-size: 21px;
    font-weight: 500;
}
#ser-ret{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.ret-img > img{
    width: 70px;
}
#reviw{
    display: flex;
    justify-content: space-between;
}
#bann{
   width: 50%;
}
#bann >img{
   width: 100%;
   height: 100%;
}
/* banner section End */
#best-deal {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#best-deal >div {
    width: 32%;
}
#best-deal >div >img {
    width: 100%;
}
.nil-het{
    margin: 40px 0;
    font-size: 30px;
}
#nail-studio{
    display: flex;
    gap: 15px;
    height: 350px;

   
}
.nail-studio >div{
    width: 250px;
}
.nail-studio {
    border: 1px solid #E3E3E3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;

}
.nail-studio >div >img{
    width: 100%;
}
.nil-het2{
    margin-top: 40px;
    font-size: 28px;
}
.nil-het3{
    margin-bottom: 10px;
}
/* Table */
table{

    border-collapse: collapse;
   
}
td , th{
    border: 1px solid #E3E3E3;
    padding: 5px 10px;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255, 192, 203, 0.255);
    width: 50%;
    margin: auto;
    padding: 50px;
}
#price-body{
    background-image: url(./asset/ale-romo-CLiwQXx7kT8-unsplash.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
   
}
label{
    display: block;
    margin-bottom: 10px;
}
fieldset{
    padding: 20px;
}
.seb-re{
    margin: 15px 8px;
    padding: 8px 15px;
    font-size: 18px;
    color: white;
    background-color: rgb(6, 146, 25);
    border: none;
    border-radius: 5px;
}
.seb-re:hover{
    background-color: pink;
}
#form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 30, 30, 0.189);
    width: 50%;
    margin: auto;
    padding: 50px;
}
.form{
    background-image: url(asset/hanna-postova-oha7AANDiL8-unsplash.jpg);
    background-size: cover;
    color: white;
}
nav ul{
    display: flex;
}

nav li a{
    text-decoration: none;
    color: rgb(6, 6, 6);
    background-color: transparent;
    margin-left: 8px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;

}
nav li a:hover{
    background-color: pink;
    color: white;
}
nav li {
   list-style: none;
  

  
}